#home_message
  %center
    %p
      %h1
        WHAT THE F**K IS WHO THE FRANK?
      %br/
      %h3
        WhoTheFrank is an absolutely tiny, lightweight, and fast web-based WHOIS search built on 
        %a{:href=>"http://sinatrarb.com/"} Sinatra
        \.
      %br/
    %p
      %h1
        HOW DOES IT WORK?
      %br/
      %h3
        Simply tell WhoTheFrank to /lookup /SomeAwesomeDomain.com
        \.
      %br/
      %h3
        %a{:href=>"#{example_url}"} Try this example to get started
        \.