#home_message
  %center
    %p
      %h1 WHAT THE HELL IS WhoTheFrank?
      %br/
      %h3
        WhoTheFrank is an absolutely tiny, lightweight, and fast web-based WHOIS search built on 
        %a{:href=>"http://www.sinatrarb.com/"} Sinatra
        \.
      %br/
    %p
      %h1 HOW THE HELL DOES IT WORK?
      %br/
      %h3
        Simply ask WhoTheFrank to 
        %a{:href=>"#{whois_example_url}"} /whois/SomeAwesomeDomain
        %br/
        Or to
        %a{:href=>"#{dig_example_url}"} /dig/SomeAwesomeDomain
        %br/
        Or to
        %a{:href=>"#{head_example_url}"} /head/SomeAwesomeDomain
        %br/
        Or to
        %a{:href=>"#{nslookup_example_url}"} /nslookup/SomeAwesomeDomain