!!!
%html
  %head
    %link{:href=>"/stylesheets/screen.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %title
      = "Who The Frank? #{@domain}" || "Who The Frank?"
  %body
    %p
      = yield