!!!
%html
  %head
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/application.js", :type=>"text/javascript"}
    %link{:href=>"/stylesheets/application.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}
    %title
      = "Who The Frank? #{@domain}" || "Who The Frank?"
  %body
    %p
      = yield